h2{color:red;font-size:50px;text-align: center;text-transform: uppercase;}
p {
	color: red;	
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
}
.joy {
	color: blue;
	font-size: 23px;
}
#mahamud {
	color: aqua;
	font-size: 40px;
}

