/*
font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
	box-sizing: border-box;
}
*:after,
*:before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
}
h2, h4 {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 970px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.container:after,
.container:before {
	content: "";
	display: table;
	clear: both;
}
.col33 {
	width: 33.33%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col50 {
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}


/*Position*/
.box {
	background: red;
}
.pos {
	position: relative;
	background: gray;
	left: 100px;
	top: 200px;
}

.abs {
	background: blue;
	position: absolute;
	width: 300px;
	height: 200px;
	bottom: 0;
	right: 0;
}


.bappy {
	width: 350px;
	height: 200px;
	background: #ccc;
	position: relative;
	left: 50px;
	top: 100px;
}

.bappy:hover .joy {
	width: 100px;
	height: 100px;
	background: blue;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -50px;
	margin-left: -50px;
	z-index: 2;
}

.user {
	position: absolute;
	width: 50px;
	height: 30px;
	background: red;
	color: #fff;
	text-align: center;
	right: 100%;
	top: 10px;
}

.user2 {
	position: absolute;
	width: 50px;
	height: 30px;
	background: red;
	color: #fff;
	text-align: center;
	right: 100%;
	top: 50px;
}

.alt {
	position: absolute;
	background: red;
	top: 40%;
	left: 40%;
	width: 200px;
	height: 100px;
	z-index: 300;
}

.habijabi {
	background: green;
	width: 30px;
	height: 50px;
	position: fixed;
	top: 0;
	right: 0;
}