/*
font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif;
*/
* {
	box-sizing: border-box;
}
*:after,
*:before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
}
h2 {
	font-family: 'Montserrat', sans-serif;
}
.container {
	width: 970px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
.container:after,
.container:before {
	content: "";
	display: table;
	clear: both;
}
.col33 {
	width: 33.33%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.col50 {
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

/*Common*/
.title {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 80px;
}
.m-title {
	font-size: 40px;
	text-transform: uppercase;
	color: #222222;
	margin-bottom: 10px;
}
.s-title {
	margin: 0;
	font-size: 16px;
	font-style: italic;
	color: #777777;
	font-weight: 400;
}


/*Header*/
.header {
	background: url("../images/banner.jpg");
	background-size: cover;
}

/*Header Area*/
.menu-logo {
    margin-top: 50px;
}
.logo {
	display: inline-block;
	
}

.menu {
	float: right;
	
}
.menu ul {
	margin: 0;
}
.menu ul li {
	list-style: none;
	float: left;
	
}
.menu ul li a {
	display: inline-block;
	padding: 0 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}


/*Banner*/
.banner {
    text-align: center;
    padding-top: 170px;
    padding-bottom: 130px;
}
.banner h2 {
	font-size: 40px;
	color: #fff;
}
.banner h1 {
	font-size: 75px;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	
}
.btn {
	text-transform: uppercase;
	background: #fed136;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 25px 50px;
	display: inline-block;
}


/*Services*/
.services .title {

}
.service-item {
	text-align: center;
	
}
.service-item img {
	width: 80px;
	height: 80px;
	display: inline-block;
	
	padding: 15px;
	border-radius: 50%;
	border: 3px solid #fed854;
}
.service-item h3 {
	font-size: 18px;
	color: #222;
}


/*Portfolio*/
.portfolio {
	background: #f7f7f7;
}
.port-item {
	text-align: center;
	background: #fff;
	margin-bottom: 50px;
}
.port-item img {
	display: inline-block;
	width: 100%;
}
.port-item h3 {
	font-size: 18px;
	margin-bottom: 10px;
}
.port-item h4 {
	margin: 0;
	color: #333;
	font-weight: 400;
	font-style: italic;
	padding-bottom: 30px;
}