* {
	box-sizing: border-box;
}
*:after
*:before {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	text-align: justify;
	
}
.container {
	width: 1000px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.container:after,
.container:before {
	content: "";
	display: table;
	clear: left;
}

.box25 {
	width: 25%;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.box33 {
	width: 33.33%;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
.box50 {
	width: 50%;
	padding-left: 15px;
	padding-right: 15px;
	float: left;
}
